# Xcode
DerivedData/
build/
*.xcuserstate
*.xcscmblueprint
*.xcworkspace/xcuserdata/
*.moved-aside
*.hmap
*.ipa

# SwiftPM
.build/
Package.resolved

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# Accio
Dependencies/
.accio/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Code coverage
*.xccovreport
*.xccovarchive

# Logs & misc
*.log
.DS_Store

# App-specific
*.mobileprovision
*.xcuserdatad

